{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": "./packages/admin-ui/**/*.{js,jsx,ts,tsx}",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
